# =========================
# WordPress Core
# =========================
wordpress/
# wp/

# =========================
# Database
# =========================
db/
*.sql
*.sqlite

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker volumes (optional safety)
# =========================
*.tar
*.gz

# =========================
# IDE
# =========================
.idea/
.vscode/

# =========================
# Environment files
# =========================
.env

# =========================
# Plugins
# =========================
wp/wp-content/plugins/


# =========================
# Languages
# =========================
wp/wp-content/languages/


# =========================
# uploads
# =========================
wp/wp-content/uploads/
